.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45vw;
  border: 2px solid black;
  padding: 20px;
  cursor: pointer;
}

.text {
  font-size: 35px;
  margin-right: 10px;
}

.vIcon {
  font-size: 30px;
  color: green;
}

.xIcon {
  font-size: 40px;
  color: crimson;
}
