.container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.back {
  color: black;
  font-size: 40px;
  margin-right: 10px;
}

.dropdown {
  font-size: 30px;
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.add {
  border: none;
  background-color: royalblue;
  color: white;
  font-size: 35px;
  padding: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.name {
  font-size: 50px;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
}

.delete {
  font-size: 50px;
  color: crimson;
  cursor: pointer;
}

.save {
  font-size: 55px;
  color: #006eff;
  cursor: pointer;
}
