.container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  font-size: 30px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}

.name {
  font-size: 50px;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
}

.button {
  border: none;
  background-color: royalblue;
  color: white;
  font-size: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  box-shadow: 1px 1px 5px black;
  cursor: pointer;
}
