.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orange;
}

.headerContainer {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.header {
  font-size: 50px;
  color: #8f600b;
  text-align: center;
}

.text {
  font-size: 45px;
  margin-bottom: 40px;
  text-align: center;
}

.field {
  font-size: 45px;
}

.button {
  color: #8f600b;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .field {
    width: 90%;
  }
}
